/cmake-build-*/
/CMakeFiles/
/Testing/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
install_manifest.txt

.ninja_deps
.ninja_log
*.ninja
*.sln
*.vcxproj
*.filters
*.user

*.dll
*.exe
*.lib
*.exp
*.pdb
*.obj
*.o

.idea
.vscode
.vs
*.swp
*.patch

/lib